#home {
  margin: 0;
  display: grid;
  grid-area: home;
  grid-template-columns: 2fr 2fr;
  max-width:100vw;
  height: 100vh;
}
.p-field{
  text-align: center;
  margin-top:6em;
  margin-left:1em;
  font-size: 2.2rem;
  height:fit-content;
  padding: 0.5em;
  width:32vw;
  border-radius: 0.4em;
  color:rgb(73, 102, 180);
  box-shadow: 0.05em 0.1em 0.2em 0.05em #9494949d;
  transition: all .7s ease-in-out;
}
#home-img-web{
  margin-top: 1em;
  margin-left:10em;
  width: 60%;
  padding: 1em;
  border-radius: 0.4em;
  transition: all .8s ease-in-out;
  
}

